*{
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
.header p{
    font-size: 15px;  
    margin-top:35px; 
    color:black;
}
.header{
    display:flex; 
}
.navbar{
    margin-left:900px;
    position:absolute;
    top:20px;
}
.navbar ul{
    display:flex;
    list-style: none;
    text-decoration: none;
}
.navbar a{
    text-decoration: none;
    color:black;
    align-content: space-between;  
}
.navbar li{
    padding:15px;
}

.section-1{
    margin-top:100px;
   
}
.section-1 h1{
    font-size:60px;
    font-family:'Roboto', sans-serif; 
    color:rgb(54, 45, 113);
    text-align: center;
}
.flex{
    margin-top:50px;
    display: flex;
    border-style: outset;
    border-width: 5px;
    box-shadow: 5px;
    margin:100px;
    padding:20px;
}
.flex:hover{
    box-shadow:5px 5px 5px grey;
  transform:scale(1.1);
  transition:0.5s;
}
.para{
    padding:0px 50px;
    max-width: 500px;
}
.para h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.para p{
    font-family: 'Roboto Slab', serif;
}
.checked{
    color:orange;
}
.flex-2{
    margin-top:50px;
    display: flex;
    border-style: outset;
    border-width: 5px;
    margin:100px;
    padding:20px;
}
.flex-2:hover{
    box-shadow:5px 5px 5px grey;
  transform:scale(1.1);
  transition:0.5s;
}
.para-2{
    padding:0px 50px;
    max-width: 500px;
}
.para-2 h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.para-2 p{
    font-family: 'Roboto Slab', serif;
}
.checked{
    color:orange;
}
.img-2{
    margin-left:170px;
}
.footer{
    margin-top:60px;
    display: flex;
    border-style: solid;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    background-color: rgb(60, 60, 107);
    border-color: rgb(60, 60, 107);
}
  
.flex-footer{
    display:flex;
  
}
.flex-footer img{
      margin-top:10px;
}
.flex-footer h4{
    margin-top:35px;
}
.footer_2 li{
    padding:10px;
    color:white;
}
.footer_2 a{
    text-decoration: none;
}
.input{
    width:400px;
    height:50px;
}
.btn-1{
    position:relative;
    right:90px;
    padding:10px 20px;
    color: antiquewhite;
    background-color: rgb(133, 91, 173);
    border-color: rgb(133, 91, 173);
}