*{
  box-sizing: border-box;
  
}
body{
}
video{
  filter: brightness(0.5);
}
.search-bar{
  position:relative;
  right: 30px;
  bottom:940px;
  text-align: center;
  height:20px;
}
.search{
  width:500px;
  padding: 15px;
  margin:10px;
  border-radius: 30px;
}
.navbar ul{
  display:flex;
  list-style: none;
  text-decoration: none;
}
.header{
  position:relative;
  bottom:800px;
}
.header h3{
  position:relative;
  left:100px;
  bottom:75px;
  color:white;
  width: 80%;
}
.icon{
  position:relative;
  right:70px;
  top:7px;
}
.navbar{
  position:relative;
  bottom:960px;
  left:950px;
  text-decoration: none;
  max-width:350px;
}
.navbar a{
  text-decoration: none;
  color:white;
  align-content: space-between;
}
.navbar li{
  padding:10px;
}

.dropbtn {
  background-color:transparent;
  color: white;
  padding: 5px;
  font-size: 15px;
  border: none;
  position:relative;
  bottom:20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.content{
  position:relative;
  bottom:900px;
  text-align: center;
}
.content h1{
  font-family: 'Roboto', sans-serif;
  color:rgb(197, 195, 195);
  font-size: 6pc;
}
.content p{
    font-family: 'Roboto Slab', serif;
    color:rgb(197, 195, 195);
    font-size: 30px;

}
.content button{
  padding: 20px 30px;
  margin-top:20px;
  font-family:'Roboto', sans-serif ;
  font-size: 20px;
  background-color: rgb(255, 233, 206);
  
}
.btn i{
  position:relative;
  left:10px;
  top:2px;
}




.section-flex{
  margin-top:-760px;
  padding-top:50px;
  
 
}
.section-flex h1{
  text-align: center;
  font-family:'Roboto', sans-serif;
  font-size: 40px;
  color:rgb(240, 55, 55);
  padding-top:20px;
}
.flex{
  display:flex;
  margin:20px;
}
.border-box{
  border-style:solid;
  max-width: 500px;
  text-align: center;
  padding:30px 10px;
  margin:20px;
  border-width: 10px;
  background-color:palegoldenrod ;
  border-color:palegoldenrod;
  border-radius:50px;
}
.border-box p{
  font-family: 'Roboto Slab', serif; 
}
.border-box h2{
  font-family:'Roboto', sans-serif ;
  color:rgb(0, 0, 0);
}



.flex-3 h1{
  text-align: center;
  font-family:'Lato', sans-serif;
  font-size:40px;
  color:rgb(90, 83, 83);
}
.flex-img{
  display:flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left:130px;
  filter:brightness(0.8);
}

.images{
  margin:30px;
  margin-bottom:-20px;
  
}
.images-1{
  position:relative;
  bottom:20px;
  left: 30px;
}

.flex-img h2{
  display:flex;
  flex-direction: row;
  position:relative;
  bottom:250px;
  left:60px;
  color:white;
  font-family: 'Roboto Slab', serif; 
  font-size: 40px;
}
.new-img a{
  text-decoration: none;
}
.new-img-1 a{
  text-decoration: none;

  
}


.section-2  h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color:rgb(240, 55, 55);
  font-size: 30px;
}
.section-flex-2 h1{
  text-align: center;
  font-family:'Roboto', sans-serif;
  font-size: 40px;
  color:rgb(240, 55, 55);
  padding-top:20px;
}
.flex-2{
  display:flex;
  margin:20px;
  justify-content: center;
}
.border-box-2{
  border-style:solid;
  max-width: 300px;
  text-align: center;
 
  padding:30px 10px;
  margin:20px;
  border-width: 10px;
  border-color:palegoldenrod;
  border-radius:px;
}
.border-box-2 p{
  font-family: 'Roboto Slab', serif; 
}
.border-box-2 h2{
 
  border-bottom:2px solid palegoldenrod;

}
.lower-img{
  border-radius: 100px;
}
.border-box-2:hover{
 
  box-shadow: 10px;
}
.footer{
  margin-top:60px;
  display: flex;
  border-style: solid;
  justify-content: space-around;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
  background-color: rgb(60, 60, 107);
}

.flex-footer{
  display:flex;

}
.flex-footer img{
    margin-top:10px;
}
.flex-footer h4{
  margin-top:35px;
}
.footer_2 li{
  padding:10px;
}
.input{
  width:400px;
  height:50px;
}
.btn-1{
  position:relative;
  right:90px;
  padding:10px 20px;
  color: antiquewhite;
  background-color: rgb(133, 91, 173);
  border-color: rgb(133, 91, 173);
}









