.header{
    font-size: 2pc;
    padding-top:20px;
    padding-left:170px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.img1{
    width:300px;
    height:300px ;
    margin-left: 100px;
    margin-top: 120px;    
    border-radius: 20px;
}
.img2{
    width:300px;
    height:300px ;
    margin-left: 47px;
    border-radius: 20px;
}
.img3{
    width:300px;
    height:300px ;
    margin-left: 150px;
    border-radius: 20px;
}
.img4{
    margin-top: 50px;
    width:300px;
    height:300px ;
    margin-left: 100px;
    border-radius: 20px;
}
.img5{
    width:300px;
    height:300px ;
    margin-left: 150px;
    border-radius: 20px;
}
.img6{
    width:300px;
    height:300px ;
    margin-left: 150px;
    border-radius: 20px;
}
.img7{
    margin-top: 30px;
    width:300px;
    height:300px ;
    margin-left: 330px;
    border-radius: 20px;
}
.img8{
    width:300px;
    height:300px ;
    margin-left: 150px;
    border-radius: 20px;
}
.btn{
    margin-top: 40px;
    position:relative;
    top:30px;
    right:240px; 
}
.btn2{
    margin-left:650px;
}
.btn4{
    margin-left:200px;
}
.btn5{
    margin-left:350px;
}
.btn6{
    margin-left:78%;
}
.btn7{
    margin-left:400px;
}
.btn8{
    margin-left:60%;
    margin-bottom: 5px;
}
body{
    background-image: url("./backgroung-image.jfif");
    background-repeat: no-repeat;
    background-size: 200%;
}