*{
    padding: 0px;
    box-sizing: border-box;
}
.head{
    display:flex;
    border-style:solid;
    border-width: 0px 0px 1px 0px;
    background-color:blue(187, 222, 187);
}
.topic1{
    margin-left:150px;
    font-size:2pc ;
}
.logo{
    margin-top: 30px;
}
.top-head{
    margin-top:50px;
    
    font-size:large;
    
}
ul.navigation__list{
    display:flex;
    list-style: none;
    margin-left:150px;
    justify-content:space-between;
    margin-right:150px;

}  
a.navigation_list{
    margin-left:100px;
}
.head-border{
    border-style:solid;
    border-width: 0px 0px 1px 0px;
}
.search-bar{
    text-align: center;
    height:40px;
}
.search{
    height:30px;
    width:400px;
    padding: 20px;
    margin:20px;
    border-radius: 20px;
}
.icon{
    margin-left:-70px;
    position:relative;
    top:10px;
}
.note{
    padding-left: 20px;
    padding-top:10px;
    
}
.container{
    border-style: solid;
    border-width:1px ;
    border-width: ;
    padding:20px;
    margin:70px;
}
.review{
    max-width: 500px;
    padding-left:150px;
    
}
.reviews{
    max-width: 400px;
    padding-left:80px;
}
.hero{
    display:flex;
}
.body{
    background-color:blue (244, 162, 162);
}
.img{
    position: relative;
    bottom:20px;
    right:10px;
}
.text{
    position: relative;
    bottom:610px;
    color:rgb(236, 220, 220);
    font-size: 3pc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-bottom: 10px;
}