*{
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:  rgb(244, 244, 244);
}
header{
    background-image:url(../images/fun.jpg);
    background-repeat: no-repeat;
    background-size:1450px;
}
.head{
    display:flex;
    border-style:solid;
    border-width: 0px 0px 2px px;
    padding-bottom: 200px;
    border-color: white;
}

.txt1{
    position: relative;
    left:150px;
    color:rgb(194, 135, 135);
}
.txt2{
    position: relative;
    left:110px;
    color:rgb(183, 125, 125);
    font-size: 25px;
}
.topic{
    margin-left:180px;
    font-size:2pc ;
    color:rgb(154, 105, 105);
}
.logo{
    margin-top: 30px;
}
.top-head{
    margin-top:50px;
    color:rgb(132, 101, 101);
    font-size:large;
    
}
ul.navigation__list{
    display:flex;
    list-style: none;
    margin-left:150px;
    justify-content:space-between;
    margin-right:150px;
}  
a.navigation_list{
    margin-left:100px;
 
}
.navigation__link{
    color:white;
}
.head-border{
    border-style:solid;
    border-width: 0px 0px 1px 0px;
}
.search-bar{
    text-align: center;
    height:40px;
}
.search{
    height:30px;
    width:400px;
    padding: 20px;
    margin:20px;
    border-radius: 20px;
}
.icon{
    margin-left:-70px;
    position:relative;
    top:10px;
}
.body{
    position: relative;
    top:300px;
    right:500px;
}
.note{
    padding-left: 20px;
    padding-top:10px;
    
}
.container{
    border-style: solid;
    border-width: 5px ;
    border-color: grey;
    padding:20px;
    margin:70px;
}
.review{
    max-width: 500px;
    padding-left:150px;
    
}
.reviews{
    max-width: 400px;
    padding-left:80px;
}
.hero{
    display:flex;
}   
.img{
    position: relative;
    bottom:20px;
    right:10px;
}

.dropbtn {
    background-color:rgb(136, 136, 238);
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  .photo1{
    border-style: solid;
    padding:30px 40px 20px 40px;
    border-radius: 20px;
    border-color:  rgb(243, 229, 229);
    margin:20px;
    background-color: rgb(243, 229, 229);
  }
  .famous-place{ 
    margin-left: 200px;
    padding-top:100px;
    padding-bottom: 100px;
  }
  .photos{
    display:flex;
  }
  .photos2{
    display:flex;
  }
  .image1{
    border-radius: 100px;
  }
  .box{
    position:relative;
    left:200px;
    bottom:30px;
  }
  .border-box{
    background-color:rgb(246, 211, 211) ;
    position:relative;
    bottom:700px;
  }
  .head-top{
    color: rgb(75, 41, 75);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:relative;
    left:20px;
  }
  .photo-center{
    border-style: solid;
    padding:30px 40px 20px 40px;
    border-radius: 20px;
    border-color:  rgb(243, 229, 229);
    margin:20px;
    background-color: rgb(243, 229, 229);
    position:relative;
    bottom:50px;
  }
  .small-head{
    position:relative;
    left:180px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(232, 89, 89);
    font-weight: 400px;
    font-size: xx-large;
     
  }
  .para{
    position:relative;
    left: 200px;
    color:rgb(127, 118, 118);
  }
  .text{
    color:rgb(125, 116, 116);
  }
  .lower{
    text-align: center;
    margin-top:200px;
    margin-bottom:200px;
  }
  .lower-h1{
    font-size:xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  .lower-img{
    border-style: solid;
    border-radius: 500px;
    padding:20px;
    background-color:rgb(174, 140, 140);
    border-color:rgb(174, 140, 140);
  }
  .lower-para{
    position:relative;
    top:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
  }
  .lower{
    border-style: solid;
    max-width: fit-content;
    padding:30 50px 50px 50px;
    position:relative;
    left:330px;
    bottom:100px;
    background-color:rgb(217, 217, 248);
    border-color:beige;
  }
  .category{
    margin-left:180px;
    display:flex;
   
  }
  .category-1{
    margin-top:100px;
    margin-bottom:100px;
    margin-right:20px;
    opacity:10;
  }
  .category-heading{
    margin-top:80px;
    position:relative;
    left:450px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size:4rem;
    color:#3e5f87;
  }
  .category-para{
    position:relative;
    left:40px;
    bottom:290px;
    color:white;
    font-size:3pc;
  
  }
  .category-para:hover{
    transform:scale(1.1)
  }
  .category-box{  
    margin-top:20px;
    box-shadow: 10px;
    position:relative;
    bottom:750px;
  }
  .b-img{
    opacity: 0.5;
  }
  .body-img{
    margin-top:50px;
  }
  .lower-sec{
    position:relative;
    bottom:700px;
  }
  a{
    text-decoration:none;
  }